WCFServiceForm/Connected Services/ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComplexType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Rzeczewista" type="xs:double" />
      <xs:element minOccurs="0" name="Urojona" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplexType" nillable="true" type="tns:ComplexType" />
</xs:schema>